body {
  font-family: 'Arial', sans-serif;
  background-color: #e6f2e6; /* Verde pastel suave */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 60px 0;
  background: url("https://cdn.jobtoday.com/img/e8c45297-24c2-4547-99ca-7bc530c9053d/1140x640.webp") center/cover;
}

.SearchBar {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 25px;
  border-radius: 12px;
  margin: -30px auto 30px;
  width: 60%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.app-title {
  font-size: 4rem; /* Aumenta o tamanho */
  font-weight: bold;
  color: #ffffff; /* Mantém branco */
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); /* Adiciona sombra */
  text-transform: uppercase; /* Deixa todas as letras maiúsculas */
  letter-spacing: 2px; /* Dá mais espaçamento entre as letras */
  padding: 40px 0; /* Dá mais espaço acima e abaixo */
}
